# Python cache
__pycache__/
*.py[cod]
*$py.class

# pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints/
.virtual_documents/
anaconda_projects/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Virtual environments
venv/
env/
.venv/
